.container {
    background-color: rgb(219, 255, 165);
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .filters-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .active{
    margin-right: 20px;
    padding: 10px 10px;
    background-color: #41d248;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .filters {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  .filter{
    margin-right: 20px;
    padding: 10px 10px;
    background-color: #96dd99;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .filters label {
    margin-right: 10px;
  }
  
  .country-list {
    overflow-x: auto;
    display: flex;
    flex-direction: column;

  }

  .country-item{
    background-color: #96dd99;
    margin: 10px 0px ;
    padding: 0px 10px;
    border-radius: 9px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    padding: 13px 20px;
    margin: 0px 20px;
    background-color: #41d248;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #0069d9;
  } */
  